/*******************************
FORMS
********************************/
form{
	margin-bottom: 70px;
  text-align: center;
}
.row{
  text-align: center;
}
.form-group .btn{
	width: 100%;
  text-align: center;
}
.form-control{
	padding: 17px 25px;
	font-size: 15px;
	height: auto;
	border-radius: 0;
	background: #f3f3f3;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
	border: 1px solid #777;
}

.form-control:focus{
	border: 1px solid #454554;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.login-signin-button{
  text-align: center;
}
.login{
  background-color: #fff;
  border: 1px | #aaa;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
  width: 30%;
}

.login:hover,
.login:focus{
  border-color: #777
}

.login a{
  font-size: 20px;
  color: #777;
  text-decoration: none;
}
.login a:hover,
.login a:focus{
  color: #000
}

.signin{
  background-color: #fff;
  border: 1px | #aaa;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
  width: 30%;
}

.signin:hover,
.signin:focus{
  border-color: #777
}

.signin a{
  font-size: 20px;
  color: #777;
  text-decoration: none;
}
.signin a:hover,
.signin a:focus{
  color: #000
}

.login-container{
  padding-top: 90px;
  height: 735px;
}

.login-session{
  height: 100px;
  text-align: center;
  cursor: text;
}

.login-logo{
  height: 300px;
}
