.container {
  padding-top: 90px;
}

.signin-container {
  height: 1000px;
  width: 50%;
  border: 2px | #999;
  border-style: groove;
  text-align: left;
}

.signin-container h1 {
  text-align: center;
}

.signin-container h3 {
  padding-left: 25px;
}

.repetition:hover,
.repetition:focus {
  border-color: #777;
  color: #000;
}

.top-blank {
  height: 100px;
}

.bottom-blank {
  height: 100px;
}

.submit{
  text-align: center;
}

@media (min-width: 768px) {
  .signin-container {
    width: 100%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .repetition {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .signin-container {
    width: 100%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .repetition {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .signin-container {
    width: 60%;
    margin-left: 25%;
  }

  .col-lg-6 {
    width: 80%;
  }

  .repetition {
    width: 15%;
    height: 50px;
  }
}
