body {
  background-color: #ffffff
}
.navbar{
  background-color: #ffffff
}
.navlist a:link{
  color: #000000;
}
.navi-container {
  width: 1440px;
  height: auto;
  margin: auto;
  white-space: nowrap;
}

.icon {
  background-color: #aaaaaa;
  width: auto;
  height: auto;
  font-size: 20%;
  float: left;
}

.simpleinfo {
  float: right;
  margin-right: 25%;
}
.simpleinfo a{
  color: #000000;
  padding-right: 15px;
  height: 5px;
}

.lists {
  list-style: none;
  float: right;
  margin-right: 20%;
  padding: 0;
}

.lists li {
  float: left;
}

.lists a {
  font-size: 25px;
  display: block;
  width: auto;
  height: 145px;
  line-height: 145px;
  color: #aaa;
  padding: 0 35px;
  text-decoration: none;
}

.lists a:link {}

.lists a:visited {}

.lists a:hover {
  color:#000;
}
.bottom-view{
  background: #242424;
  height: auto;
  width: 100%;
  margin : auto;
  color: #ffffff
}
.bottom-container{
  width: 65%;
  height: 150px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.madeby{
  width: 30%;
  float: left;
  clear: both;
  line-height: 150px;

}
.made-info{
  width: 30%;
  float: right;
  line-height: 150px;
}
.center-view{
  width: 100%;
  height: 1000px;
}
